@import url("https://fonts.googleapis.com/css2?family=Ephesis&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slow-bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

@layer components {
  .search-bar {
    @apply w-0 group-hover:w-[300px] transition-all duration-300 rounded-full group-hover:border group-hover:border-gray-500 px-3 py-1 focus:outline-none dark:border-gray-800 dark:bg-gray-900 group-hover:dark:bg-gray-800;
  }
}

@layer utilities {
  @supports (-webkit-touch-callout: none) {
    .max-height-IOS-img {
      max-height: 300px;
      object-fit: cover;
    }
  }
}